.header__top {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.logo {
  position: absolute;
  top: 5rem;
  left: 0;
}

.logo__img {
  width: 70%; 
}

.nav__main {
  display: flex;
  padding: 0 0 2.2rem 5rem;
}

.nav__link {
  padding: 2rem 2.5rem;
  position: relative;
  color: #000000;
  transition: color .3s ease-in-out;
  &::before,
  &::after {
    content: "";
    background-color: $green;
    position: absolute;
    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
  }
  &::before {
    right: 0;
    top: 2rem;
  }
  &::after {
    left: 0;
    bottom: 2rem;
  }
  &:hover::before,
  &:hover::after {
    width: 100%;
  }
  &:hover {
    color: $green;
  }
}

.button--header {
  position: absolute;
  right: 0;
  bottom: 2rem;
}

.header__bottom {
  background: url(../../assets/2x/Banner@2x.png) center/cover no-repeat;
  min-height: 85vh;
}

.mobile__nav {
  display: none;
}