.header__top {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}

.logo {
  position: absolute;
  top: 5rem;
  left: 0;
}

.logo__img {
  width: 70%;
}

.nav__main {
  display: flex;
}

.nav__item {
  margin: 2rem 2.5rem;
  position: relative;
  &::before {
    content: "";
    background-color: $green;
    position: absolute;
    right: 0;
    top: 0;
    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
  }
  &::after {
  content: "";
  background-color: $green;
  position: absolute;
  left: 0;
  top: 100%;
  height: 2px;
  width: 0%;
  transition: width .3s ease-in-out;
  }
  &:hover::before {
    width: 100%;
  }
  &:hover::after {
    width: 100%;
  }
  &:hover > .nav__link {
    color: $green;
  }
}

.nav__link {
  color: #000000;
  padding: 2rem;
  transition: color .3s ease-in-out;
}

.header__button {
  position: absolute;
  right: 0;
  bottom: 2rem;
}

.header__bottom {
  background: url(../../../assets/2x/Banner@2x.png) center/cover no-repeat;
  min-height: 85vh;
}