// = = = = = = = = = =
// FLEXBOX STYLES
// = = = = = = = = = =
.intro__text,
.portfolio,
.portfolio__left,
.portfolio__right,
.gallery__top,
.gallery__more,
.testimonials__blocks,
.testimonials__item {
  display: flex;
}

.intro__text,
.portfolio__left,
.portfolio__right,
.gallery__more,
.testimonials__item {
  justify-content: space-between;
}

.text__heading,
.text__block--intro,
.portfolio__left,
.portfolio__right,
.gallery__description,
.gallery__image {
  width: 50%;
}

.portfolio__left,
.portfolio__right,
.testimonials__item {
  flex-direction: column;
}

.gallery__image {
  align-self: flex-end;
}

.gallery__more {
  align-items: center;
}

// = = = = = = = = = =
// INDIVIDUAL STYLES
// = = = = = = = = = =
.text__heading,
.portfolio__left,
.gallery__description {
  margin-right: 1rem;
}

.text__block--intro,
.portfolio__right,
.gallery__image {
  margin-left: 1rem;
}

.intro__button {
  text-align: center;
  margin: 3.5rem 0;
}

.portfolio__image {
  margin: 1rem 0 2rem;
}

.gallery__description .text__block:last-child {
  margin-bottom: 0;
}

.gallery__bottom {
  margin: 7.5rem 0;
  .text__block {
    margin: 1rem 0 5rem;
  }
}

.gallery__more {
  button {
    margin-right: 1rem;
  }
  .text__heading {
    width: 60%;
    margin-right: 0;
    margin-left: 1rem;
  }
}

.gallery__more,
.testimonials {
  padding: 0 8rem;
  text-align: center;
}

.testimonials__title {
  padding-bottom: 1rem;
  border-bottom: 1px solid $orange;
}

.testimonials__blocks {
  margin-top: 3rem;
}

.testimonials__item {
  width: calc((100% - 10rem) / 3);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 3px rgba(153,153,153,.4);
  padding: 1rem 2rem;
}

.testimonials__item:nth-of-type(2) {
  margin: 0 5rem;
}

.testimonials__link {
  font-size: 2rem;
  margin: 5.5rem;
  a {
    color: $blue;
    padding: 0 2rem;
    position: relative;
    transition: color .2s ease-in;
    &:hover {
      color: $green;
    }
    &::before {
    content: "";
    background-color: $green;
    position: absolute;
    right: 0;
    top: 0;
    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
    }
    &::after {
    content: "";
    background-color: $green;
    position: absolute;
    left: 0;
    top: 100%;
    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out;
    }
    &:hover::before {
      width: 100%;
    }
    &:hover::after {
      width: 100%;
    }
  }
}