article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 2.5rem; }

img {
  max-width: 100%;
  display: block; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none; }

section, article {
  margin: 7.5rem 0; }

.button {
  background: #6AAB49;
  border: 1px solid #6AAB49;
  border-radius: 5px;
  transition: all .3s; }
  .button .button__link {
    color: #ffffff;
    padding: 1rem 2.5rem;
    transition: all .3s; }
    .button .button__link:hover {
      color: #6AAB49; }
  .button:hover {
    background: #ffffff; }

.button--medium {
  font-size: 2.4rem;
  letter-spacing: .02rem;
  line-height: 5.5rem; }

.button--large {
  font-size: 2.4rem;
  letter-spacing: .02rem;
  line-height: 4.2rem; }
  .button--large .button__link {
    padding: 1rem 7rem; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 400; }

h1, h2, h3, h4, p {
  margin: 0; }

h1 {
  color: #ffffff;
  font-size: 6rem;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 6rem 0; }

h2 {
  font-size: 3.8rem;
  font-weight: 600;
  letter-spacing: .03rem; }

h3 {
  font-size: 2.4rem;
  text-align: left;
  font-weight: 400; }

h4 {
  font-size: 2.2rem;
  text-align: left;
  font-weight: 600;
  letter-spacing: .03rem;
  color: #6AAB49;
  margin-top: .5rem; }

.text__heading {
  font-size: 4rem; }

.text__block {
  font-size: 2rem;
  line-height: 4rem; }

.text__block--spaced {
  margin: 3.5rem 4rem 3.5rem 0; }

.text__block--grey {
  text-align: left;
  color: #999999;
  margin: 2.4rem 0; }

.text__block--subtext {
  text-align: right;
  color: #999999; }

.header__top {
  min-height: 15vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative; }

.logo {
  position: absolute;
  top: 5rem;
  left: 0; }

.logo__img {
  width: 70%; }

.nav__main {
  display: flex;
  padding: 0 0 2.2rem 5rem; }

.nav__link {
  padding: 2rem 2.5rem;
  position: relative;
  color: #000000;
  transition: color .3s ease-in-out; }
  .nav__link::before, .nav__link::after {
    content: "";
    background-color: #6AAB49;
    position: absolute;
    height: 2px;
    width: 0%;
    transition: width .3s ease-in-out; }
  .nav__link::before {
    right: 0;
    top: 2rem; }
  .nav__link::after {
    left: 0;
    bottom: 2rem; }
  .nav__link:hover::before, .nav__link:hover::after {
    width: 100%; }
  .nav__link:hover {
    color: #6AAB49; }

.button--header {
  position: absolute;
  right: 0;
  bottom: 2rem; }

.header__bottom {
  background: url(../../assets/2x/Banner@2x.png) center/cover no-repeat;
  min-height: 85vh; }

.mobile__nav {
  display: none; }

.intro__text,
.portfolio,
.portfolio__left,
.portfolio__right,
.gallery__top,
.gallery__more,
.testimonials__blocks,
.testimonials__item {
  display: flex; }

.intro__text,
.portfolio__left,
.portfolio__right,
.gallery__more,
.testimonials__item {
  justify-content: space-between; }

.text__heading,
.text__block--intro,
.portfolio__left,
.portfolio__right,
.gallery__description,
.gallery__image {
  width: 50%; }

.portfolio__left,
.portfolio__right,
.testimonials__item {
  flex-direction: column; }

.gallery__image {
  align-self: flex-end; }

.gallery__more {
  align-items: center; }

.text__heading,
.portfolio__left,
.gallery__description {
  margin-right: 1rem; }

.text__block--intro,
.portfolio__right,
.gallery__image {
  margin-left: 1rem; }

.intro__button {
  text-align: center;
  margin: 3.5rem 0; }

.portfolio__image {
  margin: 1rem 0 2rem; }

.gallery__description .text__block:last-child {
  margin-bottom: 0; }

.gallery__bottom {
  margin: 7.5rem 0; }
  .gallery__bottom .text__block {
    margin: 1rem 0 5rem; }

.gallery__more button {
  margin-right: 1rem; }

.gallery__more .text__heading {
  width: 60%;
  margin-right: 0;
  margin-left: 1rem; }

.gallery__more,
.testimonials {
  padding: 0 8rem;
  text-align: center; }

.testimonials__title {
  padding-bottom: 1rem;
  border-bottom: 1px solid #f5a623; }

.testimonials__blocks {
  margin-top: 3rem; }

.testimonials__item {
  width: calc((100% - 10rem) / 3);
  border-radius: 5px;
  box-shadow: 0px 0px 20px 3px rgba(153, 153, 153, 0.4);
  padding: 1rem 2rem; }

.testimonials__item:nth-of-type(2) {
  margin: 0 5rem; }

.testimonials__link {
  font-size: 2rem;
  margin: 5.5rem; }
  .testimonials__link a {
    color: #4a90e2;
    padding: 0 2rem;
    position: relative;
    transition: color .2s ease-in; }
    .testimonials__link a:hover {
      color: #6AAB49; }
    .testimonials__link a::before {
      content: "";
      background-color: #6AAB49;
      position: absolute;
      right: 0;
      top: 0;
      height: 2px;
      width: 0%;
      transition: width .3s ease-in-out; }
    .testimonials__link a::after {
      content: "";
      background-color: #6AAB49;
      position: absolute;
      left: 0;
      top: 100%;
      height: 2px;
      width: 0%;
      transition: width .3s ease-in-out; }
    .testimonials__link a:hover::before {
      width: 100%; }
    .testimonials__link a:hover::after {
      width: 100%; }

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 3.5rem 10rem; }
  .footer__container button {
    margin-left: 1rem; }

@media (max-width: 1000px) {
  h2 {
    font-size: 3.3rem; }
  h4 {
    font-size: 2rem; }
  .text__heading {
    font-size: 3.5rem; }
  .text__block {
    font-size: 1.8rem;
    line-height: 3.6rem; }
  .text__block--spaced {
    margin: 3rem 2rem 3rem 0; }
  .button--medium {
    font-size: 2.2rem;
    line-height: 5rem; }
  .header__top {
    min-height: 10vh; }
  .logo {
    top: 2.3rem; }
  .logo__img {
    width: 50%; }
  .nav__main {
    display: flex;
    padding: 0 0 2rem 5rem; }
  .button__header {
    bottom: 1.8rem; }
  .header__bottom {
    min-height: 90vh; }
  .testimonials__item {
    width: calc((100% - 5rem) / 3);
    padding: 1rem 1.5rem; }
  .testimonials__item:nth-of-type(2) {
    margin: 0 2.5rem; } }

@media (max-width: 850px) {
  h4 {
    font-size: 2.2rem; }
  .testimonials__item {
    width: calc((100% - 2rem) / 2);
    padding: 1rem 1.5rem; }
  .testimonials__item:nth-of-type(2) {
    display: none; }
  .testimonials__item:first-child {
    margin-right: 1rem; }
  .testimonials__item:last-child {
    margin-left: 1rem; } }

@media (max-width: 800px) {
  .nav__main {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding: 0;
    position: absolute;
    left: -2.5rem;
    background: #6AAB49;
    width: 100vw;
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out; }
  .nav__main--active {
    height: 90vh; }
  .nav__link {
    display: inline-block;
    width: 100%;
    padding: 3.5rem;
    font-size: 2rem;
    color: #ffffff;
    transition: all .3s ease-out; }
    .nav__link::before, .nav__link::after {
      content: none; }
    .nav__link:hover {
      background: #ffffff; }
  .button--header {
    background: initial;
    border: none;
    bottom: 1.5rem; }
  .button__link--header {
    display: none; }
  .mobile__nav {
    display: block;
    font-size: 2.5rem;
    color: #6AAB49; }
  section, article {
    margin: 5rem 0; }
  .text__block--spaced {
    margin: 1rem 1rem 3rem 0; }
  .logo {
    z-index: 10; }
  .intro__text {
    flex-direction: column-reverse;
    text-align: center; }
  .text__heading {
    width: 100%;
    margin-right: 0; }
  .text__block--intro {
    width: 100%;
    margin-left: 0;
    margin-bottom: 2rem; }
  .gallery__top {
    flex-direction: column; }
  .gallery__description,
  .gallery__image {
    width: 100%; }
  .gallery__description {
    margin-right: 0; }
  .gallery__description .text__block:last-child {
    margin-top: 0;
    margin-bottom: 3rem; }
  .gallery__image {
    margin-left: 0; }
  .gallery__bottom .text__block {
    margin: 1rem 1rem 3rem 0; }
  .gallery__more {
    flex-direction: column-reverse; }
    .gallery__more button {
      margin-right: 0;
      margin-top: 3rem; }
    .gallery__more .text__heading {
      width: 100%;
      margin-left: 0; }
  .footer__container {
    flex-direction: column;
    align-items: center;
    text-align: center; }
    .footer__container button {
      margin-left: 0;
      margin-top: 3rem; } }

@media (max-width: 600px) {
  h2 {
    font-size: 2.6rem; }
  .text__heading {
    font-size: 2.8rem; }
  .text__block {
    font-size: 1.6rem;
    line-height: 3.2rem; }
  .button--medium {
    font-size: 2rem;
    line-height: 4.8rem; }
  .portfolio {
    flex-direction: column; }
  .portfolio__left,
  .portfolio__right {
    width: 100%;
    margin-left: 0;
    margin-right: 0; }
  .portfolio__right {
    margin: 3rem 0 0; }
  .portfolio__image {
    margin: 0; }
  .gallery__more,
  .testimonials {
    padding: 0; } }

@media (max-width: 450px) {
  h1 {
    font-size: 4.8rem; }
  h2 {
    font-size: 2.2rem; }
  h3 {
    font-size: 2rem; }
  h4 {
    font-size: 1.8rem; }
  .text__heading {
    font-size: 2.4rem; }
  .button--medium {
    font-size: 1.8rem;
    line-height: 3.6rem; }
  .button--large {
    font-size: 1.8rem;
    line-height: 3.6rem; }
    .button--large .button__link {
      padding: 1rem 5rem; }
  .logo {
    top: 3.5rem; }
  .logo__img {
    width: 40%; }
  .testimonials__blocks {
    flex-direction: column; }
  .testimonials__item {
    width: 100%;
    margin-left: 0; }
  .testimonials__item:first-child {
    margin-right: 0;
    margin-bottom: 3rem; }
  .testimonials__item:last-child {
    margin-left: 0; }
  .testimonials__link {
    margin: 3rem; }
  .footer__container {
    padding: 1rem 0 10rem; } }

@media (max-width: 350px) {
  h1 {
    font-size: 4rem; }
  .logo {
    width: 80%;
    top: 3rem; }
  .logo__img {
    width: 50%; }
  .button .button__link {
    padding: 1rem 1rem; }
  .button--large .button__link {
    padding: 1rem 2rem; } }
